<div class="view">
			<div class="content colors-e background-solid">
				<div class="container">
					<h2>NOSOTROS</h2>
					<p class="header-details"><span class="highlight">Hacemos realidad</span> tus proyectos</p>
					<p class="lead">Somos una <span class="highlight">empresa</span> localizada en Bogotá, Colombia. Tenemos una experiencia ponderada de 10 años, dentro de los cuales hemos liderado proyectos de mediana y grande escala</p>
					<div class="row">
						<div class="col-md-6">
							<div class="col-icon">
								<i class="li_note"></i>
							</div>
							<div class="col-content">
								<h4>MISIÓN <span class="highlight"></span></h4>
								<p class="text-justify">Nuestra misión es proveer servicios de ingeniería y administración de óptima calidad a nuestros clientes. Basándose en una metodología y manejo de proyectos que se traduce en una alta competitividad para su empresa en el mercado nacional. </p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="col-icon">
								<i class="li_eye"></i>
							</div>
							<div class="col-content">
								<h4>VISIÓN <span class="highlight"></span></h4>
								<p class="text-justify">Para el 2022 Grupo Acera se proyecta como una empresa sólida, comprometida, cumplida y experimentada en las áreas de ingeniería y administración. Para este mismo año se espera que la empresa abarque el 1,5% del mercado nacional en el área de ingeniería civil.</p>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>