<div class="view jumbotron">
			<div class="content colors-e background-solid">
				<div class="container">
					<h2>NOSOTROS</h2>
					<p class="header-details"><span class="highlight">Hacemos realidad</span> tus proyectos</p>
					<p class="lead">Somos una <span class="highlight">empresa</span> localizada en Bogotá, Colombia. Tenemos una experiencia ponderada de 10 años, dentro de los cuales hemos liderado proyectos de mediana y grande escala</p>
					<div class="row">
						<div class="col-md-6">
							<div class="col-icon">
								<i class="li_note"></i>
							</div>
							<div class="col-content">
								<h4>MISIÓN <span class="highlight"></span></h4>
								<p class="text-justify">Nuestra misión es proveer bienestar a la población colombiana. Hacer llegar Gloops a cerca del 80% del país.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="col-icon">
								<i class="li_eye"></i>
							</div>
							<div class="col-content">
								<h4>VISIÓN <span class="highlight"></span></h4>
								<p class="text-justify">Para el 2022 Gloop se proyecta como una empresa sólida, comprometida, cumplida y experimentada en las áreas de Internet de las cosas. Para este mismo año se espera que la empresa Aumente su participación del mercado nacional.</p>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>