<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">Próximos</h3>
      <p>
        Gracias por adquirir tu Gloop, ahora perteces a una gran familia
        En esta sección encontradas eventos, caminatas, ejercicios y demas actividades lúdicas con un objetivo ecológico
      </p>
      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://p2.trrsf.com/image/fget/cf/600/600/images.terra.com/2012/11/21/monserrate-bogota.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Caminata Monserrate</h4>
              <h4 class="subheading">13.11.2016</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Caminata ecológica promocionada por Gloop
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://www.bogota.gov.co/sites/default/files/u669/IMG_2659.JPG" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Ciclo Paseo</h4>
              <h4 class="subheading">11.10.2016</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Ciclo paseo nocturno por toda la séptima de la ciudad capital
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="https://pbs.twimg.com/media/CNiOmSGXAAEUvrf.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Quebrada Arzobispo</h4>
              <h4 class="subheading">11.11.2016</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
               Visita turística y guiada a una de las quebradas más representativas del país
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://4.bp.blogspot.com/-yNTi28QqJ7o/VDSSGncPzzI/AAAAAAAATvA/1jk1R37VyWA/s1600/training-run-corre-villa-de-leyva%2B(5).JPG" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Campamento Villa de Leyva</h4>
              <h4 class="subheading">12.12.2016</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Campamento ecológico en zona rural de dicho municipio
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="https://p2.trrsf.com/image/fget/cf/940/0/images.terra.com/2015/01/06/cartagena-colombia-istock-18.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Paseo Sorpresa</h4>
              <h4 class="subheading">31.12.2016</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
              Celebración de fin de año en cartagena
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>