<div class="view">
			<div class="content full-size colors-h">
				<div class="container">
					<h2>CONTÁCTANOS</h2>
					<p class="header-details">Mantente en contacto</p>
					<div class="row">
						<div class="col-md-6">
							<div class="text-right scroll-in-animation" data-animation="fadeInLeft">
								<p class="big-font uppercase">
									Tel: <strong class="highlight">+57 (1) 834-0770</strong>
								</p>
								<p class="big-font uppercase">
									Cel: <strong class="highlight">+57 (304)-638-7938</strong>
								</p>
								<p class="big-font uppercase">
									Calle 17 # 4 - 68
									<br/> Bogotá, Colombia
									<br>

									<br>Carrera 3 # 13 - 45
									<br> Bogota, Colombia
								</p>
								<p class="big-font">
									<b>
										<a href="mailto:contacto@grupoacera.com">contacto@gloop.com</a><br/>
										<a href="http://www.grupoacera.com">www.gloop.com</a>
									</b>
								</p>
								<p class="big-font">
									<a target="_blank" href="https://twitter.com/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x heading"></i><i class="fa fa-twitter fa-stack-1x text-background"></i></span></a>
									<a target="_blank" href="https://www.facebook.com/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x heading"></i><i class="fa fa-facebook fa-stack-1x text-background"></i></span></a>
									<a target="_blank" href="http://www.youtube.com/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x heading"></i><i class="fa fa-youtube fa-stack-1x text-background"></i></span></a>
								</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="text-left scroll-in-animation" data-animation="fadeInRight">
								<form class="ajax-form" data-message-class="colors-e background-95 border heading" action="enviar-contacto.php" method="post" novalidate="novalidate">
									<div class="row">
										<div class="col-md-12 control-group">
											<div class="alt-placeholder">Nombre</div>
											<input id="nombre" type="text" name="nombre" value="" size="40" placeholder="Nombre" data-validation-required-message="Por favor complete el campo requerido." required>
											<div class="help-block"></div>
										</div>
										<div class="col-md-6 control-group">
											<div class="alt-placeholder">Empresa</div>
											<input id="empresa" type="text" name="empresa" value="" size="40" placeholder="Empresa" data-validation-required-message="Por favor complete el campo requerido." required>
											<div class="help-block"></div>
										</div>
										<div class="col-md-6 control-group">
											<div class="alt-placeholder">Email</div>
											<input id="mail" type="email" name="mail" value="" size="40" placeholder="Email" data-validation-required-message="Por favor complete el campo requerido." required>
											<div class="help-block"></div>
										</div>
										<div class="col-md-12 control-group">
											<div class="alt-placeholder">Mensaje</div>
											<textarea id="mensaje" name="mensaje" placeholder="Mensaje" data-validation-required-message="Por favor complete el campo requerido." required></textarea>
											<div class="help-block"></div>
										</div>
										<div class="col-md-12 form-actions">
											<input class="button btn" type="submit" value="Enviar">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="text-center">
						<a class="map-open button background-lite-b border-heading-b heading-b" data-map-overlay=".map-overlay" href="#">Localízanos en un mapa</a>
					</div>
				</div>
			</div>
		</div>