<div class="page-header">
	<div class="row">
			<div class="col-sm-12">
				<ol class="breadcrumb">
				  <li><a ui-sref="home">Main</a></li>
				  <li class=""><a href="/users/">Users</a></li>
				  <li class="active">Sensors</li>
				</ol>
			</div>
		</div>
	<h1>
		Sensors
		<a href="/users/{{sensor.user_id}}/sensors/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>
			New Sensor
		</a>
	</h1>
</div>
<!--loading message-->
<div class="jumbotron text-center" ng-show="sensor.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading sensors...</p>
</div>

<table class="table table-bordered table-striped"  ng-show="sensor.sensors.length">
	<thead>
		<tr>
			<th>_id</th>
			<th>Name</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<!--loop over the users-->
		<tr ng-repeat="person in sensor.sensors">
			<td>{{person._id}}</td>
			<td>{{person.name}}</td>
			<td class="col-sm-2">
				<a href="/users/{{sensor.user_id}}/sensors/{{person._id}}/records" class="btn btn-default">View</a>
				<a href="/users/{{sensor.user_id}}/sensors/edit/{{person._id}}" class="btn btn-danger">Edit</a>
				<a href="#" ng-click="sensor.deleteSensor(person._id)" class="btn btn-primary">Delete</a>
			</td>
		</tr>
	</tbody>
</table>