<div class="page-header">
		<div class="row">
			<div class="col-sm-12">
				<ol class="breadcrumb">
				  <li><a ui-sref="home">Main</a></li>
				  <li class="active">Users</li>
				</ol>
			</div>
		</div>
		

	<h1>
		Users
		<a href="/users/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>
			New User
		</a>
	</h1>
</div>
<!--loading message-->
<div class="jumbotron text-center" ng-show="user.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading users...</p>
</div>




<div class="row">
		<div class="col-sm-3 col-md-3" ng-repeat="person in user.users" ng-show="user.users">
			<div class="thumbnail">
		      <div class="caption">
		        <img src="http://www.globaldemocracy.com/assets/img/anonymous-200.gif">
		        <h3><strong>{{person.name}}</strong></h3>
		        <p>Username: {{person.username}}</p>

		        
		      		<div class="btn-group btn-group-justified">
						<a href="/users/{{person._id}}/sensors" class="btn btn-default">View</a>
						<a href="/users/edit/{{person._id}}" class="btn btn-danger">Edit</a>
						<a href="#" ng-click="user.deleteUser(person._id)" class="btn btn-primary">Delete</a>
						
					</div>


		      </div>
		    </div>
		</div>
	</div>


